---

- name: setup server
  block:
    - name: get k3s install script
      ansible.builtin.get_url:
        url: https://get.k3s.io
        dest: /tmp/k3s-install.sh
        mode: 0755

    - name: run k3s install script (as a leader server)
      when: k3s_node_leader
      ansible.builtin.shell: |
        INSTALL_K3S_SKIP_START=true \
        INSTALL_K3S_VERSION={{ k3s_version }} \
        \
        sh /tmp/k3s-install.sh {{ k3s_node_role | lower }} \
          --cluster-init \
          --node-name {{ inventory_hostname }} \
          {{ k3s_node_args | join(' ') }}
      notify:
        - start k3s service

    - name: run k3s install script (as a non-leader server)
      when: not k3s_node_leader
      ansible.builtin.shell: |
        INSTALL_K3S_SKIP_START=true \
        INSTALL_K3S_VERSION={{ k3s_version }} \
        \
        sh /tmp/k3s-install.sh \
          {{ k3s_node_role | lower }} \
            --server \
            --node-name {{ inventory_hostname }} \
            {{ k3s_node_args | join(' ') }}
      notify:
        - start k3s service

    - name: delete k3s install script
      ansible.builtin.file:
        path: /tmp/k3s-install.sh
        state: absent

  become: true
  tags:
    - server
    - setup
    - k3s
