# rnk -- RackNerd KVM Hosts
rnk:
  hosts:
    rnk-01:
      ansible_host: 10.30.1.2
  vars:
    ansible_user: root

# pi5 -- RaspberryPi 5 Hosts
pi5:
  hosts:
    pi5-01:
      ansible_host: 10.32.10.1
    # pi5-02:
    #   ansible_host: 10.32.10.2
    # pi5-03:
    #   ansible_host: 10.32.10.3

# zb2 -- ZimaBoard 2 Hosts
zb2:
  hosts:
    zb2-01:
      ansible_host: 10.32.20.1
    zb2-02:
      ansible_host: 10.32.20.2
  vars:
    ansible_user: kurt

cluster:
  children:
    servers:
      hosts:
        pi5-01:
          # k3 server vars
          k3s_node_name: pi5-01
          k3s_node_role: server
          k3s_node_leader: true
        # pi5-02:
        #   k3s_node_name: pi5-02
        #   k3s_node_role: server
        # pi5-03:
        #   k3s_node_name: pi5-03
        #   k3s_node_role: server
      vars:
        k3s_cluster_cidr: 10.33.0.0/16
        k3s_service_cidr: 10.34.0.0/16
        k3s_node_config:
          bind-address: 0.0.0.0
          cluster-cidr: "{{ k3s_cluster_cidr }}"
          service-cidr: "{{ k3s_service_cidr }}"
          advertise-address: "10.32.10.1"
          disable:
            - traefik
            - metrics-server
            - servicelb
          flannel-backend: none
          disable-network-policy: true
          disable-kube-proxy: true
    agents:
      hosts:
        rnk-01:
          # k3 server vars
          k3s_node_name: rnk-01
          k3s_node_role: agent
        zb2-01:
          # k3 server vars
          k3s_node_name: zb2-01
          k3s_node_role: agent
        zb2-02:
          # k3 server vars
          k3s_node_name: zb2-01
          k3s_node_role: agent
  vars:
    ansible_user: kurt
    k3s_version: v1.34.2+k3s1
    k3s_server_addr: https://10.32.10.1:6443
